.calculator{
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(4 , 100px);
    justify-content: center;
    margin: 0 auto;
    gap: 3px;
    font-family: "Helvetica", sans-serif;
    width: 409px;
}
.operator{
    background: #15159f;
    color:white;
}
button{
    border-radius: 18%;
    font-size: 45px;
    background: #e3dfdf;
}
.keys{
    background: #252222;
    color:white;
}
.btn:hover{
    color:white;
    background: black;
}
.keys:hover{
    color:black;
    background: white;
}
.operator:hover{
    color:black;
    background: white;
}
h1{
    width: 409px;
    height: 45px;
    margin: 50px auto;
    text-align: center;
    color: #e3dfdf;;
}
.display{
    text-align: right;
    font-size: 40px;
    width: 409px;
    font-weight: 700;
    margin: 10px auto;
    color: #e3dfdf;
}
body{
    background: darkslategray;
}
@media(min-width: 320px) and (max-width: 425px){
   .calculator{
       display: grid;
       grid-template-columns: repeat(4,70px);
       grid-template-rows: repeat(4,70px);
       justify-content: center;
       margin: 0 auto;
       gap: 3px;
       font-family: "Helvetica", sans-serif;
       width: 290px;
   }
    h1{
        font-size: 28px;
        font-family: "Helvetica", sans-serif;
        width: 300px;
        margin: 50px auto 50px;
    }
    .App{
        width: 320px;
        margin: 0 auto;
    }
    .display{
        max-width:290px;
    }
}